<div class="wrapper">
  <div class="section-registro">
    <div class="header-registro">
      <app-navbar [tipo]="tipo"></app-navbar>
    </div>
    <div class="body-registro">
      
      <!-- Aquí van a ir los radio buttons para elegir el rol de usuario a registrar -->
      <section class="rol-user">
        <div class="container">
          <!-- Radio buttons -->
          <div class="row mt-5" style="text-align: center;">
            <div class="form-group col-12">
              <label class="title-user" for="tipo_usuario">Tipo de usuario</label>
            </div>
            <div class="row mt-3" style="text-align: center;">
              <div class="form-group col-12">
                <mat-radio-group [(ngModel)]="user.tipo_usuario" (change)="radioChange($event)" [disabled]="editar">
                  <mat-radio-button value="administrador">Administrador</mat-radio-button>
                  <mat-radio-button value="alumno">Alumno</mat-radio-button>
                  <mat-radio-button value="tecnico">Técnico</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <!-- Formularios de todos los usuarios -->
            <section class="forms-registro">
              <!-- Formulario del admin -->
              <section class="registro-admin" *ngIf="isAdmin">
                <app-registro-admin [rol]="tipo_user" [datos_user]="user"></app-registro-admin>
              </section>
              <!-- Formulario del alumno -->
              <section class="registro-alumnos" *ngIf="isAlumno">
                <app-registro-alumnos [rol]="tipo_user" [datos_user]="user"></app-registro-alumnos>
              </section>
              <!-- Formulario del maestro -->
              <section class="registro-maestros" *ngIf="isMaestro">
                <app-registro-maestros [rol]="tipo_user" [datos_user]="user"></app-registro-maestros>
              </section>
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
