<div class="wrapper">
  <div class="icon-close">
    <button class="btn" (click)="cerrar_modal()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="body-modal">
    <h1 class="title-modal">Aprobar Préstamo</h1>
    <span class="descripcion">¿Estás seguro de que deseas aprobar este préstamo?</span>
    <div class="buttons-modal">
      <button mat-button class="btn-regresar" (click)="cerrar_modal()">Cancelar</button>
      <button mat-button class="btn-eliminar" (click)="confirmarPrestamo()">Confirmar</button>
    </div>
  </div>
</div>
