<section class="login">
  <div class="wrapper">
    <div class="section-left">
      <img src="/assets/images/calendario.png" class="calendario">
      <h1 class="title">Reserva-lab</h1>
    </div>
    <div class="section-right">
      <div class="card">
        <div class="card-body">
          <h3 class="title">Inicio de Sesión</h3>
          <div class="container-inputs">
            <div class="pt-3 mb-3">
              <input type="email" [(ngModel)]="username" class="form-control" id="email" placeholder="Correo electrónico">
              <div *ngIf="errors.username" class="invalid-feedback">{{ errors.username }}</div>
            </div>

            <div class="pt-3 mb-3">
              <div class="input-group input-group-merge">
                <input type="{{type}}" [(ngModel)]="password" id="password" name="password_user" class="form-control pwd" placeholder="Contraseña" (keyup.enter)="login()">
                <div class="input-group-text" id="show-password" data-password="false">
                    <i *ngIf="type == 'password'" class="bi bi-eye-fill" (click)="showPassword()"></i>
                    <i *ngIf="type == 'text'" class="bi bi-eye-slash-fill" (click)="showPassword()"></i>
                </div>
              </div>
              <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
            </div>

            <div class="mb-3">
              <a href="#" class="form-check-label">Olvidé mi contraseña</a>
            </div>
            <div class="d-flex flex-column align-items-center mb-3 w-100" style="text-align: center;">
              <button class="btn btn-primary" type="submit" (click)="login()" [disabled]="load">Iniciar sesión</button>
              <a href="#" class="form-check-label pt-3" (click)="registrar(); $event.preventDefault()">Registrarse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
