.wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.section-registro{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header-registro{
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.body-registro{
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  overflow-y: auto;
}

.img-slider{
  max-width: 100%;
  width: 900px;
  height: auto;
  
  @media (max-width: 768px) {
    display: none;
  }
}

//Radio buttons
.title-user{
  font-size: 28px;
  text-align: center;
  font-family: Nexa-Bold;
  letter-spacing: 2px;
  color: #231F20;
  text-transform: uppercase;
  opacity: 1;
  
  @media (max-width: 768px) {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

::ng-deep .mat-radio-button.mat-radio-checked .mat-radio-outer-circle{
  border-color: #E84150 !important;
}

::ng-deep .mat-radio-button.mat-radio-checked .mat-radio-inner-circle{
  background-color: #E84150 !important;
}

::ng-deep .mat-radio-ripple .mat-ripple-element{
  background-color: #E84150 !important;
}

::ng-deep .mat-radio-button:not(.mat-radio-disabled).mat-radio-checked .mat-radio-label-content{
  color: #000 !important;
}

.forms-registro{
  width: 100%;
  padding: 20px;
  
  @media (max-width: 768px) {
    padding: 10px 0;
  }
}

.container{
  max-width: 700px;
  
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.row {
  @media (max-width: 768px) {
    margin-top: 1rem !important;
    
    .col-md-6 {
      margin-bottom: 1rem !important;
    }
  }
}

::ng-deep .mat-form-field {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.buttons-container {
  @media (max-width: 768px) {
    margin-top: 1rem !important;
  }
  
  button {
    @media (max-width: 768px) {
      width: 100%;
      margin: 0.25rem 0 !important;
    }
  }
}

::ng-deep .mat-form-field-label{
  color: #000 !important;
}

::ng-deep .mat-input-element:disabled {
  color: #999 !important;
}

::ng-deep .mat-form-field-disabled .mat-form-field-label {
  color: #999 !important;
}
